body {
	background-color: #eaf3ff;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 2000ms linear, color 2000ms linear;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	/*padding: 5px 5px;*/
	/*padding-left: 5px;
    padding-right: 5px;*/
}


.msgbox {
	height: 200px;
	transition: background-color 2000ms linear,border-color 2000ms linear,color 2000ms linear;
}

@media (max-width: 768px) {
	.body-content {
		padding: 0;
	}

	.msgbox {
		height: 100px;
	}
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

.sun {
	background-color: #ffddaa;
}

.dusk {
	background-color: #404080;
}

.night {
	background-color: black;
	color: white;
}

legend {
	display: block;
	width: auto;
	padding: 0 5px;
	margin-bottom: 0;
	font-size: inherit;
	line-height: inherit;
	border: none;
	border-bottom: none;
	color: #909090;
}

fieldset {
	border: 2px solid #909090;
	padding: 5px;
}

body.large {
	font-size: 2em;
}

body.medium {
	font-size: 1.3em;
}

body.small {
	font-size: 0.9em;
}

.help{
	display:none;
}

.show-help .help {
	display:inherit;
}

.voteleft {
	width: 30%;
	display: inline-block;
}
.voteright {
	width: 70%;
	display: inline-block;
	margin-left:-2px;
}

.msgbox {
	overflow-y: scroll;
	background-color: #fff6ef;
	padding: 5px;
	border: 2px solid #ffddaa;
}

.sun .msgbox {
	background: #bbdfff;
}

.dusk .msgbox {
	background: #222255;
	border: 2px solid #222266;
}

.night .msgbox{
	background: #000022;
	border: 2px solid #222266;
}

ul {
	list-style: none;
}

li {
	padding-right: 5px;
}

.player-status {
	font-weight: bold;
}

.bites {
	color: #cc4444;
}

#status {
	display:inline-block;
}

.send-msg {
	margin:15px 0 5px 0;
}

.passed span {
	text-decoration:underline;
}

.deadplayer {
	text-decoration:line-through;
}

.enmity {
	color:#FF5500;
}
.suspicion {
	color:#4488ff;
}
.debug-heading {
	text-decoration:underline;
}