@model WebApplication1.Models.CreateGameModel
@{
	ViewBag.Title = "Home Page";
}
<h2>Change log:</h2>
<h3>Feb 24</h3>
Bots now pay attention to stake-voting
<br/>
Bots can accuse each other of lying
<br/>

<h3>Feb 19</h3>
Fixed wonky non-random bot decisionmaking
<br/>
Vampire bots can now lie and claim that anyone went out
<br/>
Vampire bots can now lie about being bitten
<br/>
Bots now keep track of who they think might be a vampire (bites + observed go-out vs stay-home)
<br/>
Winner status shown in list
<br/>
Validation message when users create a game with blank name or blank player-name


